body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

#counters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* margin-top: 0px; */
    /* margin-bottom: 10px; */
}

/* #zClicks {
    color : red;
} */

#zCounter,
#xCounter,
#timer {
    display: flex;
    justify-content: center;
    margin: 7px;
    /* margin-bottom: 5px; */
    /* font-size: 20px; */

    /* flex-basis: 50%; */
    
}

#cps {
    /* - Not using flexbox  here made the text all end up on the same line */
    /* display: flex; */
    margin: 7px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    white-space: nowrap;

    /* flex-wrap: nowrap; */
    /* flex-basis: 0%; */    
    /* margin-top: 20px; */
    /* padding: 20px; */
    /* padding: 20px; */
}

#metrics { 
    /* margin: 10px; */
    font-size: 18px;

}


/* #reset {
    margin: 10px;

} */
